<!DOCTYPE html>
<html>
  <head>
    <title>Sprinkler Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
    </style>
  </head>
  <body>
    <div style="margin: 40px 0px 40px 40px">
    
    <h2>Zone 1</h2>
	
    <div>
    	<h3>Valve is: {{valveState["ValveState"]}}</h3>

    	<form name="toggleForm" action="{{ url_for('toggleValve') }}" method="post">          
      	{{ toggleForm.toggle.label }} {{ toggleForm.toggle }}
      	<button name="action" class="btn btn-primary" type="submit" value="Submit">Update Valve</button>
    	</form>  
    </div>

    <div>
      <h3>Next Scheduled</h3>
      <p>Time: {{nextScheduled["Time"]}}
    </div>
    
    <div style="clear: both">
      <h3>Current Averages</h3>
      <table class="table">
          <tr>
	    {% for key, value in currentAverages.items() %}
              <th class="col-md-2">{{key}}</th>
            {% endfor %}
	  </tr>
	  <tr>
	    {% for key, value in currentAverages.items() %}
              <td>{{value}}</td>
            {% endfor %}
	  </tr> 
      </table> 
    </div>

    <h3>Sensors</h3>

    <form name="sensorsForm" action="{{ url_for('sensors') }}" method="post">
      <table class="table">
      <thead>
        <tr>
	  <th class="col-md-2">Humidity</th>
	  <th class="col-md-2">Temperature</th>
	  <th class="col-md-2">Moisture</th>
	  <th class="col-md-2">Brightness</th>
	</tr>
	<tr>
	  <td>Reading: {{sensorData["Humidity"]["Reading"]}} %</td>
	  <td>Reading: {{sensorData["Temperature"]["Reading"]}} C</td>
	  <td>Reading: {{sensorData["Moisture"]["Reading"]}} Ohms</td>
	  <td>Reading: {{sensorData["Brightness"]["Reading"]}} Lux</td>
	</tr>
	<tr>
	  <td>Threshold: {{sensorData["Humidity"]["Threshold"]}} %</td>
	  <td>Threshold: {{sensorData["Temperature"]["Threshold"]}} C</td>
	  <td>Threshold: {{sensorData["Moisture"]["Threshold"]}} Ohms</td>
	  <td>Threshold: {{sensorData["Brightness"]["Threshold"]}} Lux</td>
	</tr>
	<tr>
	  <td><div class="input text">
                {{ sensorsForm.humidityThreshold.label }} {{ sensorsForm.humidityThreshold(size=4) }} %
              </div></td>
	  <td><div class="input text">
                {{ sensorsForm.temperatureThreshold.label }} {{ sensorsForm.temperatureThreshold(size=4) }} C              
          </td>
	  <td><div class="input text">
                {{ sensorsForm.moistureThreshold.label }} {{ sensorsForm.moistureThreshold(size=4) }} Ohms
              </div></td>
	  <td><div class="input text">
                {{ sensorsForm.brightnessThreshold.label }} {{ sensorsForm.brightnessThreshold(size=4) }} Lux
              </div></td>
	</tr> 
    </table>
      
    <button name="action" style="float: left" class="btn btn-primary" type="submit" value="Submit">Update Thresholds</button>
    </form>
    
    
    <form name="forceSensorUpdatessForm" action="{{ url_for('forceSensorUpdates') }}" method="post">
      &nbsp;&nbsp;<button name="action" class="btn btn-primary" type="submit" value="Submit">Force Sensor Updates</button>
    </form>

    <h3>History</h3>
    <div style="height: 300px; overflow-y: scroll">
      {% for key, value in history.items() %}
        <p>         
        {% for nestedKey, nestedValue in value.items() %}
          {{nestedKey}} : {{nestedValue}}<br/>
        {% endfor %} 
        </p>          
      {% endfor %}
    </div>
    <!--
    <h3>Preferences</h3>
    
    <form name="preferencesForm" action="{{ url_for('preferences') }}" method="post">          
      <p>Sensor Active Hours<br/>
        {{ preferencesForm.sensorStartTime.label }} {{ preferencesForm.sensorStartTime }}
        {{ preferencesForm.sensorStartAMPM }}
        {{ preferencesForm.sensorEndTime.label }} {{ preferencesForm.sensorEndTime }}
        {{ preferencesForm.sensorEndAMPM }}
      </p>
      <p>Irrigatoin Time<br/>
        {{ preferencesForm.irrigationStartTime.label }} {{ preferencesForm.irrigationStartTime }}
        {{ preferencesForm.irrigationStartAMPM }}
      </p>
      <p>Irrigation Duration<br/>
        {{ preferencesForm.irrigationDuration.label }} {{ preferencesForm.irrigationDuration }}
      </p>

      <button name="action" class="btn btn-primary" type="submit" value="Submit">Update Preferences</button><br/><br/>
    </form>
    -->   
    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </div>
  </body>
</html>